.list-unstyled.components li {
  cursor: pointer;
  transition: background-color 0.3s ease;

  /* &:hover {
    background-color: #b5dadf;
  } */
  /* &.active {
    background-color: hsl(289, 20%, 84%);
  } */
}

/* .highlited{
  &:hover {
    background-color: #495152;
  }
} */

ul,
ol {
  /* margin: 0;
  padding: 0; */
  list-style: none;
}

.col-md-3.custom-padding {
  padding-right: 0 !important;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.highlight-folder {
  background-color: #e8e8e8;
}
